body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}


.img-showcase {
    display: flex;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
}

.cta {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.content {
    display: flex;
}